@import "tailwindcss";
@layer utilities{
    @keyframes borderGlow {
        100%{
        transform: rotate(-360deg);
        }
    }
}

html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #009688, #0288d1); /* or your theme */
  height: 100%;
}
